/* Główny kontener sidebara */

* {
  font-family: Poppins;
}

.sidebar {
  width: 350px;
  height: 100vh;
  background-color: #ffffff;
  color: #0d47a1;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  border-right: 1px solid rgb(229, 229, 229);
  flex-shrink: 0;
}

.sidebar-header {
  margin-bottom: 60px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #0d47a1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #0d47a1;
  margin-left: 10px;
}

.sidebar-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sidebar-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: rgb(119 170 246);
  text-decoration: none;
  font-size: 1.1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 23px 20px;
  border-radius: 15px;
  background-color: #eff7fc;
  min-height: 50px;
}

.sidebar-link:hover {
  transition: 0.2s;
  background-color: rgb(119 170 246);
  color: #ffffff;
  text-decoration: none;
}

.sidebar-link.active {
  background-color: rgb(119 170 246);
  color: #ffffff;
}

.sidebar-link svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
