/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Główny kontener strony */
.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(119 170 246); /* jasny, neutralny kolor tła */
  font-family: Arial, sans-serif;
}

/* Nagłówek */
.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.home-logo {
  font-size: 2rem;
  font-weight: bold;
  color: #0d47a1;
}

.home-auth-button {
  padding: 10px 20px;
  background: transparent;
  border: 2px solid #0d47a1;
  border-radius: 5px;
  color: #0d47a1;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.home-auth-button:hover {
  background-color: #0d47a1;
  color: #fff;
}

/* Sekcja główna (hero) */
.home-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 40px 300px 40px;
  flex: 1;
  gap: 40px;
}

/* Kontener z treścią */
.hero-content {
  max-width: 500px;
}

.hero-title {
  font-size: 3rem;
  color: #0d47a1;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 30px;
  line-height: 1.4;
}

.hero-cta-button {
  padding: 15px 30px;
  background-color: #0d47a1;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.hero-cta-button:hover {
  background-color: #094067;
}

/* Kontener na obrazek */
.hero-image-container {
  flex-shrink: 0;
}

.hero-image {
  width: 900px; /* określamy mały rozmiar obrazka */
  height: auto;
  border-radius: 10px;
}


/*

.Home {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Home-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Home-logo {
    animation: Home-logo-spin infinite 20s linear;
  }
}

.Home-link {
  color: #61dafb;
}

@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
